@media (min-width: 769px) {

    header {
        height: 100px;
    }

    .logo {

        font-display: flex;
        justify-content: center;
        letter-spacing: 8px;
        font-size: 14px;

    }

    .menu-btn {
        display: none;

    }

    ul {
        list-style: none;
        display: flex;
        position: static;
        flex-direction: row;
        gap: 1rem;
        width: auto;
        padding: 0;

    }

    li {
        text-align: center;
        padding-bottom: 15px;
    }

    li a {
        font-size: 1.6rem;
        text-shadow: -2px -2px 0 black,
            2px -2px 0 black,
            -2px 2px 0 black,
            2px 2px 0 black;

    }


    .produto {
        display: none;

    }

    .ativoimg {
        display: block;
    }


    .produto-info {
        display: flex;
        flex-direction: column;
        gap: 15px;
        max-width: 400px;
    }


    .produto-img {

        height: 400px;
        width: 350px;
        transform: scale(1.2);
        margin-left: 20px;

    }

    .produto-layout {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }

    .descricao-mobile {
        display: none;

    }

    .descricao-midia {
        display: block;
        max-width: 400px;
        font-size: 1.2rem;

    }

    .pedido-btn-desk {
        display: inline-block;
        background-image: url("../img/madeira.jpg");
        padding: 15px 25px;
        border-radius: 10px;
        color: white;
        text-decoration: none;

        text-shadow: -2px -2px 0 black,
            2px -2px 0 black,
            -2px 2px 0 black,
            2px 2px 0 black;
    }

    .pedido-btn-desk:hover {
        color: yellow;
        padding: 14px;
        font-size: 20px;
        text-shadow: -2px -2px 0 black,
            2px -2px 0 black,
            -2px 2px 0 black,
            2px 2px 0 black;
    }

    .pedido-btn {
        display: none;
    }

}